
	display: block;
	background: #fff;
	color: #2C95DA;
	border-radius: 0px;
	display: inline;
	border-style: none;
	width: 180px;
	padding: 5px;
}

form input[type="text"] {
	display: block;
	color: #2C95DA;
	border-radius: 0px;
	border: 1px solid #2C95DA;
}
form textarea[type="text"]{
	display: block;
	color: #2C95DA;
	border-radius: 0px;
	border: 1px solid #2C95DA;
}
input, textarea {
	font-family: 'Open Sans', sans-serif;
}
.box form {
	display: table;
}
.box p {
	display: table-row;
}

.box label {
	display: table-cell;
	vertical-align: top;
	padding: 5px;
	font-family: 'Open Sans', sans-serif;
}
.box input {
	display: table-cell;
}
.box #d {
	display: table-cell;
}

/*-----------------------------------------------*/

#attribution {
	color: #848484;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
#attribution a {
	font-size: 14px;
	color: #2C95DA;
}

.footer {
	text-align: center;
	background-color: #f7f7f7;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer li {
	display: inline;
	color: #5a5a5a;
	font-size: 12px;
}
.footer a {
	color: #5a5a5a;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;

}
