hr {
	border-color: #dbdbdb;
}
body,h1, h2, h3, p, a {
	font-family: 'Open Sans', sans-serif;
}

.nav {
	padding: 10px;
	border-bottom: 1px solid #dbdbdb;
}
.nav {
	padding: 10px;
}

.nav li {
	display: inline;
}

.nav a {
	color: #5a5a5a;
	font-size: 12px;
	font-weight: bold;
	padding: 20px 10px;
	text-transform: uppercase;
	font-family: sans-serif;
	
}
.nav img	{
	height: 45px;
}
.nav .pull-left {
	margin-bottom: 0px;
}
.nav .container {
	margin-left: 0px;
	padding: 0px;
}

/*------------------------------------------------*/
.jumbotron {
	margin: 0px;
	background-color: #2C95DA;
	padding: 30px 30px 0px 100px;

}
.jumbotron p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 80px;
	line-height: 57px;
	padding-top: 30px;
}
.jumbotron p span {
	font-size: 120px;
}
#links {
	background-color: #2C95DA;

}
#links h3 {
	color: #fff;
}
#box1 {
	background-color: #2C95DA;
}
ul {
	list-style-type: none;
}
.linkbox {
	background-color: #fff;
	padding: 10px;
}
#box1 li {
	color: #2C95DA;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-align: left;
	padding: 5px;
}
#box1 a {
	color: #2C95DA;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.email {
	background-color: #2C95DA;
}
.email .col-md-12 {
	padding: 20px;
}
.email .col-md-6 {
	margin-bottom: 30px;
	margin-top: 30px;
}
.email .col-md-12 .box{
	padding: 20px;
	background-color: #2C95DA;
	border-radius: 0px;

}
.email .col-md-12 h3 {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 48px;
}
.email .col-md-12 form {
	padding: 20px;
	color: #2C95DA;
}
.email #span {
	text-align: left;
}
form input[type="submit"] {
	display: block;
	background: #fff;
	color: #2C95DA;
	border-radius: 0px;
	display: inline;
	border-style: none;
	width: 180px;
	padding: 5px;
}
form input[type="reset"] {
	display: block;
	background: #fff;
	color: #2C95DA;
	border-radius: 0px;
	display: inline;
	border-style: none;
	width: 180px;
	padding: 5px;
}

form input[type="text"] {
	display: block;
	color: #2C95DA;
	border-radius: 0px;
	border: 1px solid #2C95DA;
}
form textarea[type="text"]{
	display: block;
	color: #2C95DA;
	border-radius: 0px;
	border: 1px solid #2C95DA;
}
input, textarea {
	font-family: 'Open Sans', sans-serif;
}
.box form {
	display: table;
}
.box p {
	display: table-row;
}

.box label {
	display: table-cell;
	vertical-align: top;
	padding: 5px;
	font-family: 'Open Sans', sans-serif;
}
.box input {
	display: table-cell;
}
.box #d {
	display: table-cell;
}

/*-----------------------------------------------*/

#attribution {
	color: #848484;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
#attribution a {
	font-size: 14px;
	color: #2C95DA;
}

.footer {
	text-align: center;
	background-color: #fff;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer li {
	display: inline;
	color: #5a5a5a;
	font-size: 12px;
}
.footer a {
	color: #5a5a5a;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;

}
